* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}

.header {
  width: 100vw;
  height: 800px;

  background: #ebedf3 url("../img/header-bg.jpg") no-repeat center / cover;
}

.header__nav {
  width: 100%;
  min-height: 155px;
  padding-top: 1px;
}

.header__nav-items {
  display: flex;
  width: 620px;
  height: 100%;
  margin: 0 auto;
  margin-top: 31px;
  padding: 0;

  list-style: none;
}

.header__nav-item {
  position: relative;
}

.header__nav-item:nth-child(1),
.header__nav-item:nth-child(2),
.header__nav-item:nth-child(4),
.header__nav-item:nth-child(5) {
  margin-top: 30px;
}

.header__nav-item:nth-child(1)::after,
.header__nav-item:nth-child(4)::after {
  content: ".";
  position: absolute;
  top: 4px;
  right: -38px;

  font-size: 0.813rem;
  color: #4d4959;
}

.header__nav-item:nth-child(4)::after {
  right: -33px;
}

.header__nav-item:nth-child(1) {
  margin-left: -8px;
}

.header__nav-item:nth-child(2) {
  margin-left: 70px;
}

.header__nav-logo {
  margin-top: 2px;
  margin-left: 60px;
}

.header__nav-item:nth-child(4) {
  margin-left: 64px;
}

.header__nav-item:nth-child(5) {
  margin-left: 65px;
}

.header__nav-link {
  font-weight: bold;
  font-size: 0.813rem;
  line-height: 1.2;
  letter-spacing: 2.9px;
  color: #4d4959;
  text-transform: uppercase;
  text-decoration: none;
}

.no-touch .header__nav-link:hover {
  text-decoration: underline;
}

/*
--------------------------------
header end
--------------------------------
*/


.logo {
  display: block;
  width: 94px;
  height: 85px;
}

.logo img {
  width: 100%;
  height: 100%;
}

/*
--------------------------------
logo end
--------------------------------
*/


.main {
  height: 1000px; /*  удалить  */
}

.promo {
  width: 100%;
  height: 469px;
  padding-top: 194px;

  background-color: #f7f7f7;
}

.promo__title {
  position: relative;
  margin: 0;
  margin-top: -3px;

  font-weight: bold;
  font-size: 1.125rem;
  text-align: center;
  color: #353738;
  letter-spacing: 3.6px;
}

.promo__title::before {
  content: "";
  position: absolute;
  top: -74px;
  left: 50%;

  width: 52px;
  height: 43px;

  background: url("../img/sprites.png") no-repeat;
  background-position: -207px -97px;
  transform: translateX(-50%);
  text-transform: uppercase;
}

.promo__text {
  margin: 0 auto;
  margin-top: 22px;
  margin-left: 278px;

  font-weight: normal;
  font-size: 1.125rem;
  color: #353738;
  width: 1082px;
  text-align: center;
  line-height: 2.125rem;
  letter-spacing: 0px;
}

/*
--------------------------------
promo end
--------------------------------
*/


.grid {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.grid__item {
  position: relative;

  flex: 1 1 533px;
  max-width: 533px;
  height: 600px;
}

.grid__item:nth-child(1),
.grid__item:nth-child(4) {
  flex: 2 1 1066px;
  max-width: 1066px;
}

.grid__item-info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;

  background-color: #ffffff;
}

.grid__item-info::after {

}

.grid__item-title {
  position: relative;

  margin: 0;
  margin-top: 119px;

  font-size: 1.125rem;
  text-align: center;
  color: #353738;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.grid__item-title::before {
  content: "";
  position: absolute;
}

.grid__item-text {
  margin: 0;
  padding: 0 68px;

  font-weight: normal;
  font-size: 1rem;
  line-height: 30px;
  color: #848789;
}

.grid__item-text::after {

}

.grid__item img {
  width: 100%;
  height: auto;
}

.grid__item:nth-child(1) {
  max-width: 1066px;
}

.grid__item:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 113px;
  height: 118px;

  background: url("../img/sprites.png") -10px -182px;
  transform: translate(-50%, -50%);
}

.grid__item:nth-child(2) .grid__item-title{
  margin-top: 129px;
  letter-spacing: 3.6px;
  margin-left: 4px;
}

.grid__item:nth-child(2) .grid__item-title::before {
  top: -59px;
  left: 50%;

  width: 41px;
  height: 30px;

  background: url("../img/sprites.png") -143px -182px;
  transform: translateX(-50%);
}

.grid__item:nth-child(2) .grid__item-text{
  margin-top: 11px;
  padding-right: 70px;
}

.grid__item:nth-child(3) {

}

.grid__item:nth-child(4) {

}

.grid__item:nth-child(5) {

}

.grid__item:nth-child(6) {

}

.grid__item:nth-child(7) {

}

/*
--------------------------------
grid end
--------------------------------
*/


